.sign-in-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
}
.edit-button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}
.editUN-button {
    min-width: 140px;
    border: none;
    background-color: #00bc77;
    border-radius: 3px;
    color: #fff;
    font-size:1rem;
    padding: 15px;
    width: 150px;
}
.sign-in-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
}
.transaction-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
}
.transaction-button-arrow,
.transaction-button-arrow:hover {
    border: none;
    width: 50px;
    height: 80px;
    background: url("../../assets/img/arrow_right.webp");
    background-position: center;
}

@media screen and (max-width: 450px) {
    .transaction-button-arrow,
    .transaction-button-arrow:hover {
        width: 30px;
        height: 50px;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
@media screen and (max-width: 400px) {
    .transaction-button-arrow,
    .transaction-button-arrow:hover {
        width: 15px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: contain;
    }
}